{% extends 'base.html' %}

{% block content %}
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="p-5">
                    <h3>Welcome to Dough Manager</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="p-5">
                    <h5>We do what we say, we manage your dough. NO FUSS</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center mt-5">
        <div class="row justify-content-center align-items-stretch g-4">
            <div class="col-md-3 d-flex">
                <div class="card gradient-card shadow-sm w-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Already have an account?</h5>
                        <p class="card-text">Login to manage your expenses.</p>
                        <a href="{% url 'login' %}" class="btn mt-auto w-100">Login</a>
                    </div>
                </div>
            </div>
    
            <div class="col-md-3 d-flex">
                <div class="card gradient-card shadow-sm w-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">New here?</h5>
                        <p class="card-text">Sign up and start tracking your finances!</p>
                        <a href="{% url 'signup' %}" class="btn mt-auto w-100">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}